# Python 缓存和虚拟环境
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# 日志和数据库
*.log
log/
*.db
*.db-*
.git/
anyshare.db

# 单元测试、覆盖率和临时文件
.coverage
.tox/
.nox/
.pytest_cache/
*.cover
.hypothesis/
.cache

# IDE 配置
.idea/
.vscode/
*.swp

# MacOS 系统文件
.DS_Store

# 构建/打包相关
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST
downloads/
develop-eggs/
sdist/
wheels/
share/python-wheels/
**/.DS_Store
.qoder/
.ruff_cache/
.venv/
.codebuddy/
.dockerignore
.gitignore
Dockerfile
compose.yaml
docker-build.sh
log/
sync2repo.sh
tests/
upload/


